<div class="article">
<h2><%= @pagina.nombre %></h2>
  <p><%= @pagina.descripcion %></p>
  <% if logueado? && current_user.admin? -%>
   <%= link_to "Editar", :action => "edit", :id => @pagina.id %> | <%= link_to "Nueva entrada", :controller => "entradas", :action => "new", :pagina_id => @pagina.id %>
  <% end -%>
</div>

<%= render :partial => "entradas/entrada", :collection => @pagina.entradas %>

