<h2>Nueva entrada</h2>

<%= error_messages_for :entrada, :object => @entrada %>
<div id="work-left">
 <% form_remote_tag :url => {:controller => "archivos", :action => "buscar_archivos_para_entrada" }, :method => :get do %>
    <%= text_field_tag "s" %> - Sólo carpetas? <%= check_box_tag "solo_carpeta" %>    
    <%= submit_tag "Buscar" %>
  <% end %>
  
  <div id="resultados_busqueda">
  </div>
<% form_for :entrada, @entrada, :url => {:action => "create"} do |f| %>
  <p><%= f.label :nombre %><br />
    <%= f.text_field :nombre %></p>
  <p><%= f.label :url %> - <small>Puede ser dejada en blanco - Sin espacios!</small> 
  <br /><%= f.text_field :url %></p>
  <p><%= f.label :pagina %><br />
    <%= f.collection_select :pagina_id, Pagina.all, "id", "nombre" %></p>
  <p><%= f.label :muestra_contenido, "Entrada desplegada" %> <%= f.check_box :muestra_contenido %></p>
  <p><%= f.label :borrador %> <%= f.check_box :borrador %></p>
  <div id="archivos_asociados">
  <% @entrada.archivo_entradas.each do |archivo_entrada| %>
    <%= render :partial => "archivos/campos_para_entrada", :locals => {:archivo_entrada => archivo_entrada, :archivo => archivo_entrada.archivo}%>
  <% end %>  
  </div> 
  
</div>

<div id="work-right">
  <p><%= f.label :contenido %><br />
    <%= f.tinymce :contenido %>
  </p>
  
  
  <%= f.submit "Crear" %>
</div>
<% end %>