<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>MensajeFinal.net - Administración</title>
    <%= init_tinymce_hammer_if_required %>
    <%= javascript_include_tag :all %>
    <%= calendar_date_select_includes %>    
    <%= stylesheet_link_tag 'admin' %>

    <!--<script type='text/javascript' 
        src='http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js'></script>-->
</head>

<body>
<div id="page">
  <div id="header">
    <div id="site-title">Administración - <%= link_to "MensajeFinal.net", "/" %></div>
    <div id="site-subtitle"><%= controller_name.humanize+" - "+action_name.humanize %></div>
    
    <div id="navigation"><%= link_to "Home", "/" %><span class="separator"> | </span>
    <%= link_to "Paginas", :controller => "paginas" %><span class="separator"> | </span>
    <%= link_to "Entradas", :controller => "entradas" %><span class="separator"> | </span>
    <%= link_to "Archivos", :controller => "archivos" %><span class="separator"> | </span>
    <%= link_to "Usuarios", :controller => "usuarios" %><span class="separator"> | </span>
    </div>
  </div>
    <div id="main">
      <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
      <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>
    <div id="content">
      <%= yield %>
    </div>
  </div>
  
  <div>
  </div>
</div>
</body>

</html>